extends layout

block header
	.col-md-6
	.col-md-6
		p(style='color:red;')=message

		form(action='/tweet', method='post')
			textarea(rows='3', name='text').form-control
			button(type='submit', style='float: right; margin-top: 10px;').btn.btn-primary Post

block content
	.col-md-6
	.col-md-6
		- each post in posts
			.col-md-2
			.col-md-10
				b
					a(href='/user/#{post.id}') #{post.username}
				p #{post.tweet}