extends layout

block header
	.col-md-6
	.col-md-6
		form
			textarea(rows='3', name='tweet').form-control
			button(type='submit', style='float: right; margin-top: 10px;').btn.btn-primary Post

block content
	.col-md-6
	.col-md-6