extends layout

block content
	.col-xs-3
		- if (image)
			img(src='/#{image}', alt='#{user.username}', height='150', width='150').img-thumbnail
		- else
			img(src='/default.png', alt='#{user.username}', height='150', width='150').img-thumbnail
	.col-xs-9
		p(style='color:red;') #{message}

		form(method='post', enctype='multipart/form-data', action='/upload')
			input(type='file', name='file')
			input(type='submit', value='Upload')