extends layout

block header
	h3=user.username

block content
	.col-md-6
	.col-md-6
		- each post in posts
			.col-md-2
			.col-md-10
				b
					a(href='/user/#{user.id}') #{user.username}
				p #{post.tweet}